/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font_awesome5_webfont
 */

* {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 100px;
	position: relative;
	float: left;
	background-color: #068587;
	z-index: 2;
	opacity: .2;
}
.notices {
	width: 100%;
	height: 70px;
	position: absolute;
	float: left;
	margin-top: 100px;
	z-index: 3;
	background-color: #F2B134;
}
.notices p {
	color: #068587;
	text-align: center;
	font-size: 24px;
	margin-top: 12px;
	font-family: 'Courier';
	text-shadow: 1px 1px #112F41;

}
.header-menu {
	position: absolute;
	float: right;
	height: auto;
	margin-top: 35px;
	right: 30px;
	z-index: 3;
}
.header-menu li {
	border: 1px solid #112F41;
	border-radius: 5px;
	display: inline;
	text-decoration: none;
	font-size: 16px;
	padding: 10px;
	transition: .5s;
	font-family: 'Courier';
	background-color: #112F41;
	color: #F2B134;
}
.header-menu li:hover {
	opacity: .5;
}
.header-menu a {
	text-decoration: none;
	transition: .5s;
}
.header-menu a:hover {
	text-decoration: none;
	color: #F2B134;
}
.btn-menu-mobile {
	width: 50px;
	height: 50px;
	position: absolute;
	float: right;
	right: 30px;
	margin-top: 23px;
	border: 2px solid #068587;
	z-index: 3;
	border-radius: 5px;
	background-color: #112F41;
}
.btn-menu-mobile i {
	font-size: 40px;
	color: #F2B134;
	margin-top: 3px;
	margin-left: 5px;
}
.header-logo {
	position: absolute;
	float: left;
	z-index: 3;
	margin-top: 35px;
}
.letter-logo {
	position: absolute;
	float: left;
	color: #F2B134;
	font-size: 60px;
	z-index: 3;
	text-shadow: 1px 1px #112F41;
	font-family: 'Courier';
}
.m {
	left: 30px;
}
.e {
	font-size: 42px;
	left: 76px;
	margin-top: 2px;
}
.c {
	left: 110px;
}
.banner {
	width: 100%;
	height: 750px;
	position: relative;
	float: left;
	background-size: 100% 100%;
	margin-top: -100px;
}
.banner1 {
	background-image: url("banner1.jpg");
}
.banner2 {
	background-image: url("banner2.jpg");
}
.banner3 {
	background-image: url("banner3.jpg");
}
.photos {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}
.foto {
	position: relative;
	float: left;
}
#foto1 {
	width: 30%;
	height: 341px;
}
#foto2 {
	width: 30%;
	height: 682px;
}
#foto3 {
	width: 40%;
	height: 341px;
}
#foto4 {
	width: 30%;
	height: 341px;
	left: -60%;
}
#foto5 {
	width: 40%;
	height: 342px;
	left: 60%;
	margin-top: -342px;
}
.date-time {
	width: 100%;
	height: auto;
	padding-bottom: 200px;
	position: relative;
	float: left;
	background-color: #F2B134;
}
.date-time h1 {
	width: 70%;
	position: relative;
	float: left;
	left: 15%;
	font-family: 'Courier';
	text-align: center;
	color: #ED553B;
	margin-top: 50px;
	text-shadow: 1px 1px #068587;
}
.date-time hr {
	position: relative;
	float: left;
	width: 50%;
	left: 25%;
	border: 4px solid #112F41;
	border-radius: 4px;
}
.date-time h2 {
	width: 70%;
	left: 15%;
	position: relative;
	float: left;
	text-align: center;
	margin-top: 50px;
	color: #068587;
	font-family: 'Courier';
	text-shadow: 1px 1px #112F41;
}
.maps-icon {
	width: 50%;
	height: 100px;
	position: relative;
	float: left;
	left: 25%;
}
.date-time a {
	position: relative;
	float: left;
	width: 20%;
	left: 40%;
	text-align: center;
	position: relative;
	margin-top: 50px;
	color: #ED553B;
	transition: .5s;
}
.date-time a:hover {
	opacity: .5;
}
.date-time i {
	text-align: center;
	font-size: 70px;
}
.date-time-infos {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	margin-top: 50px;
	background-color: #068587;
}
.date-time-infos h1 {
	color: #112F41;
}
.date-time-infos h2 {
	position: relative;
	float: left;
	width: 100%;
	left: 0;
	clear: both;
	margin-top: 50px;
	text-align: center;
	color: #112F41;
	font-family: 'Courier';
	text-shadow: none;
}
.date-time-infos h3 {
	position: relative;
	float: left;
	width: 70%;
	left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
	clear: both;
	text-align: center;
	color: #112F41;
	font-family: 'Courier';
}
.confirmation {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	padding-top: 50px;
}
.confirmation h1 {
	text-align: center;
}
.confirmation a {
	position: relative;
	float: left;
	clear: both;
	text-align: center;
	width: 10%;
	left: 45%;
}
.form-confirmation {
	width: 80%;
	height: auto;
	position: relative;
	float: left;
	left: 10%;
	text-align: center;
}
footer {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	background-color: #ED553B;
}
footer .col-md-6 {
	height: 230px;	
	margin-bottom: 50px;
}
footer .header-logo {
	margin-top: 100px;
	margin-left: 25%;
}
footer .m {
	font-size: 100px;
}
footer .e {
	margin-left: 20px;
	font-size: 70px;
}
footer .c {
	margin-left: 30px;
	font-size: 100px;
}
.footer-links h3{
	font-family: 'Courier';
	font-size: 26px;
	color: #F2B134;
	text-shadow: 1px 1px #112F41;
}
.footer-links ul {
	position: relative;
	float: left;
	left: 10%;
	list-style-type: none;
}
.footer-links li {
	font-family: 'Courier';
	font-size: 22px;
	margin-top: 10px;
}
.footer-links a {
	text-decoration: none;
	color: #112F41;
	transition: .5s;
}
.footer-links a:hover {
	color: #F2B134;
}
footer h6 {
	text-align: center;
	font-family: 'Courier';
	margin-bottom: 0;
	color: #112F41;
}