.confirmation {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	padding-bottom: 80px;
	background-color: #068587;
}
.confirmation h1 {
	font-family: 'Courier';
	color: #112F41;
	margin-bottom: 50px;
}
.confirmation table {
	position: relative;
	float: left;
	width: 60%;
	left: 20%;
}
.confirmation th,td {
	text-align: center;
	padding-top: 10px;
	border: 1px solid #112F41;
	color: #112F41;
	font-family: 'Courier';
}
.confirmation th {
	font-size: 16px;
}
#btn-delete {
	position: relative;
	float: left;
	left: 0;
	color: #ED553B !important;
}
.form-confirmation {
	width: 40% !important;
	position: relative !important;
	float: left !important;
	left: 30% !important;
	padding: 20px;
	font-size: 22px;
	color: #112F41;
	font-family: 'Courier';
	border: 1px solid #112F41;
	border-radius: 10px;
}
.form-confirmation label {
	font-weight: normal;
}
.form-confirmation input {
	width: 80%;
	margin-bottom: 20px;
	margin-top: 5px;
	background-color: #ffffdd;
	border: none;
	border-radius: 5px;
}
.actions input {
	width: 50%;
	height: 50px;
	font-size: 16px;
	background-color: #112F41;
	color: #F2B134;
	transition: .5s;
}
.actions input:hover {
	opacity: .5;
}